
.control-panel {
    float: left;
    width: 50%;
}

.card-panel {
    float: right;
    width: 50%;
}

.card-deck {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    font-size: 1.3em;
}

.active-hand {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    font-size: 1.6em;
    padding: 1em;
}

.card {
    position: relative;
    color: black;
    width: 5em;
    height: 7em;
    background-color: white;
    margin: .2em;
    border: .1em solid transparent;
    border-radius: .3em;
    transition-duration: .2s;
}

.card-name {
    position: absolute;
    top: 100%;
    display: none;
    z-index: 1;
}

.card:hover {
    border: .1em solid red;
}

.card:hover .card-name {
    display: block;
    background-color: bisque;
}

.card-text,.rcard-text {
    padding: .2em;
    line-height: .85;
}

.rcard-text {
    position: absolute;
    transform: rotate(180deg);
    bottom: 0;
    right: 0;
}

.pip {
    position: absolute;
}