body {
    background-color: black;
    font-smooth: always;
    user-select: none;
    font-family: "monospace";
}

.contain {
    display: grid;
    grid-template-columns: repeat(16, min-content);
    grid-gap: .3em;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.board {
    display: grid;
    grid-area: 2 / 2 / span 15 / span 15;
    grid-template-columns: repeat(15, 2em);
    grid-gap: .2em;
    padding: .2em;
    font-size: 1.5em;
    background-color: dimgray;
    border-radius: 1px;
}

.label {
    margin-top: .3rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.6rem;
    color: white;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
}

.shuffle {
    cursor: pointer;
    margin: .3rem;
    font-size: 2rem;
    padding: .7rem;
    border-width: .3rem;
    border-color: #444444;
    border-style: solid;
    border-radius: .2rem;
    background-color: #330000;
}

input[type="text"] {
    margin: .1em;
    font-size: 2rem;
    max-width: 75%;
    text-transform: uppercase;
}

.report {
    text-align: center;
    font-size: 2rem;
}

.points {
    text-align: center;
    font-size: 2.5rem;
}

.choose {
    cursor: pointer;
    margin: .3em;
    float: right;
    padding: .2em;
    border-width: .3em;
    border-color: #444444;
    border-style: solid;
    border-radius: .2em;
    background-color: #330000;
}

.hidden {
    display: none;
}

.square.start {
    cursor: pointer;
}

.square.selected {
    background-color: #ccc;
    box-sizing: border-box;
    border-width: .1em;
    border-style: solid;
    border-color: blue;
}

.square.start:hover {
    background-color: #999999;
}

.buttons {
    color: white;
    position: absolute;
    top: 50%;
    right: 5%;
    max-width: 20%;
    transform: translate(-50%, -50%);
}

.shuffle:hover {
    background-color: #660000;
    border-color: gray;
}

.column, .row {
    pointer-events: none;
}

.column.active, .row.active, .column.shuffling, .row.shuffling {
    margin: -.4em;
    border-style: solid;
    border-width: .3em;
    z-index: 3;
    border-radius: .08em;
}
.column.active, .row.active {
    border-color: lime;
}
.column.shuffling, .row.shuffling {
    border-color: #004400;
}


.column.done, .row.done {
    background-color: #772222;
    z-index: 2;
    pointer-events: all;
}

.square {
    text-align: center;
    line-height: 2em;
    border-radius: .1em;
    height: 2em;
    background-color: #434343;
    font-family: "monospace";
    font-weight: bolder;
}

.TW {
    background-color: #f99;
}

.DW {
    background-color: #FFD580;
}

.TL {
    background-color: #88f;
}

.DL {
    background-color: #bbf;
}


.square.dark {
    background-color: #111;
}

.TW.dark {
    background-color: #422;
}

.DW.dark {
    background-color: #431;
}

.TL.dark {
    background-color: #113;
}

.DL.dark {
    background-color: #224;
}
